<h2>Results</h2>
<br/>
<b><%= query.method.upcase %></b>
<br/>
<br/>
<% unless query.ids.empty? %>
  <a
    href="<%= uri("/get_sequence/?id=#{query.ids.join(' ')}&db=#{query.databases.join(' ')}") %>">
    FASTA of <%= query.ids.length %> retreivable hit(s).
  </a>
<% end %>
<br/>
<% query.each do |query_id, query| %>
  <%= erb :_result, :locals => {:query_id => query_id, :query => query} %>
<% end %>
<pre>
  <%= query.summary.strip %>
</pre>

<pre>
<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=PubMed&cmd=Retrieve&list_uids=9254694&dopt=Citation">
Reference</a>
  Stephen F. Altschul, Thomas L. Madden, Alejandro A. Schäffer, Jinghui Zhang,
  Zheng Zhang, Webb Miller, and David J. Lipman (1997),
  "Gapped BLAST and PSI-BLAST: a new generation of protein database search
  programs", Nucleic Acids Res. 25:3389-3402.
<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=PubMed&cmd=Retrieve&list_uids=11452024&dopt=Citation">
Reference for composition-based statistics </a>
  Alejandro A. Schäffer, L. Aravind, Thomas L. Madden, Sergei Shavirin,
  John L. Spouge, Yuri I. Wolf, Eugene V. Koonin, and Stephen F. Altschul (2001),
  "Improving the accuracy of PSI-BLAST protein database searches with
  composition-based statistics and other refinements", Nucleic Acids Res.
  29:2994-3005.
</pre>
